.card_name{
margin: 20px 0px 20px 0px;
font-size: 15px;
color: #414758;
}

.card_desc{
    margin-left: 20px;
    height: 150px;
    width: 500px;
}
.card_input {
    width: 413px;
    height: 80px;
    margin-left: 20px;
}

.addComment {
    margin-left: 20px;
    margin-top: 20px;
}

.back_button{
    margin-left: 20px;
}
